/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
  padding-top: 4.5rem;
  padding-bottom: 3rem;
}

html {
  position: relative;
  min-height: 100%;
}
